/* all collection css start  */

.filter-wrap {
  margin-bottom: 40px;
}

.filter-group {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 350px;
  overflow-y: auto;
}

.filter-items {
  display: flex;
  align-items: center;
  margin: 10px 0;
  column-gap: 12px;
}

.filter-group > label {
  display: block;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 1px solid #333;
}

.filter-items input {
  margin-right: 5px;
  cursor: pointer;
}

.filter-items label {
  margin: 0;
}

/* Container for the range slider */
#range-slider {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 35px auto;
}

/* The track container */
#range-slider-track {
  position: relative;
  height: 8px;
  background-color: #ddd;
  border-radius: 5px;
}

/* The range inputs */
#range-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  position: absolute;
  pointer-events: none;
}

/* Thumb (slider handle) */
#range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 2;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#range-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 2;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Range track active part */
#range-slider-track::before,
#range-slider-track::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 1;
  border-radius: 5px;
}

#range-slider-track::before {
  background-color: #ddd;
  width: 0;
  left: 0;
}

#range-slider-track::after {
  background-color: #ddd;
  width: 0;
  right: 0;
}

/* Value labels */
#min-value,
#max-value {
  font-size: 14px;
  color: #333;
  padding: 5px 10px;
  background-color: #f0f0f0;
  margin-top: 10px;
  display: inline-block;
}

.range-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-items .btn {
  width: 48%;
  padding: 12px 20px;
  min-height: max-content;
}

.all-collection-products {
  background: #fff;
  padding: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* all collection css end */

/* single page css start  */

.product-details-area {
  padding: 40px 0 20px;
}

.product-details-area .product-img img {
  object-fit: cover;
  width: 100%;
}

.product-details-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-option-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.size-options,
.color-options {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.size-option,
.color-option {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: all 0.3s linear;
}

.size-option {
  text-align: center;
  font-weight: 600;
  min-width: 80px;
}

.color-option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.size-option:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.color-option:hover {
  transform: translateY(-3px);
}

.size-option.active,
.color-option.active {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  transform: translateY(-3px);
}

.color-option.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-color: #333;
}

.descript-specs-area {
  padding: 20px 0 40px;
}

.descript-specs-area .tab-content {
  background: #fff;
  padding: 24px;
}

.product-full-description p {
  margin-bottom: 24px;
}

.product-full-description p:last-child {
  margin-bottom: 0;
}

.specifiactions-wrap .table th {
  background: #f7f7fc;
  color: #383838;
  font-weight: 500;
}

.specifiactions-wrap .table td {
  color: #383838;
}

.shipping-policy-content {
  margin-bottom: 40px;
}

.shipping-policy-content h6 {
  margin-bottom: 12px;
}

.shipping-policy-content:last-child {
  margin-bottom: 0;
}

.related-products-wrap {
  background: #fff;
  padding: 12px;
}

.related-product-items {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;
}

.related-product-items .product-img {
  width: 30%;
}

/* review area css start  */

.review-title {
  margin-bottom: 40px;
}

.review-widget {
  width: 75%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.review-content {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: start;
}

.review-star-items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.review-widget i {
  /* color: #ffd700;  */
  color: var(--secondary-color);
  font-size: 14px;
}

.review-widget p {
  display: inline-block;
}

.item-bar {
  flex-grow: 1;
  background-color: var(--background-color);
  height: 14px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  max-width: 180px;
}

.item-bar-fill {
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: width 0.3s ease;
}

.item-number {
  font-weight: bold;
  color: #333;
}

.related-product-area .container {
  position: relative;
}

.related-product-button .btn-prev,
.related-product-button .btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: #fff;
  width: 30px;
  height: 60px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--background-color);
  transition: all 0.3s linear;
  color: #333;
}

.related-product-button .btn-prev:hover,
.related-product-button .btn-next:hover {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.related-product-button .btn-prev:hover i,
.related-product-button .btn-next:hover i {
  color: #fff;
}

.related-product-button .btn-prev {
  left: -6px;
}

.related-product-button .btn-next {
  right: -6px;
}

.related-product-active .product-wrap {
  margin-bottom: 0;
}

/* single page css end */

/* login page css start  */
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}
.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}
.box:before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.overbox .title {
  color: #fff;
}
.overbox .title:before {
  background: #fff;
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--primary-color);
  position: relative;
}
.title:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
  background: var(--primary-color);
}

.input {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input label,
.input input,
.input .spin {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button button .button.login button i.fa {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button .shape:before,
.material-button .shape:after {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.login button {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  width: 100%;
  float: left;
}
.input label,
.input input,
.input .spin {
  width: 100%;
  float: left;
}

.button {
  width: 100%;
  float: left;
}
.button button {
  width: 100%;
  float: left;
}

.input,
.button {
  margin-top: 30px;
  height: 70px;
}

.input {
  position: relative;
}
.input input {
  position: relative;
}

.button {
  position: relative;
}
.button button {
  position: relative;
}

.input input {
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}
.input label {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.button button {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.input:before,
.input .spin {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.input:before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.input .spin {
  background: var(--primary-color);
  z-index: 4;
  width: 0;
}

.overbox .input .spin {
  background: white;
}
.overbox .input:before {
  background: rgba(255, 255, 255, 0.5);
}

.input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  line-height: 60px;
}

.button {
  margin-top: 20px;
  margin: 40px 0;
  overflow: hidden;
  z-index: 2;
}
.button.login {
  width: 60%;
  left: 20%;
}
.button.login button {
  width: 100%;
  line-height: 64px;
  left: 0%;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
}
.button button {
  width: 100%;
  line-height: 64px;
  left: 0%;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
}
.button.login {
  margin-top: 30px;
}
.button button {
  background-color: #fff;
  color: var(--primary-color);
  border: none;
}
.button.login button.active {
  border: 3px solid transparent;
  color: #fff !important;
}
.button.login button.active span {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
}
.button.login button.active i.fa {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
}
.button.login button i.fa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60px;
  transform: scale(0) rotate(-45deg);
  -webkit-transform: scale(0) rotate(-45deg);
  -ms-transform: scale(0) rotate(-45deg);
}
.button.login button:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.button button {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.pass-forgot {
  width: 100%;
  float: left;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.click-efect {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-color);
  border-radius: 50%;
}

.overbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: inherit;
  padding: 60px 50px 40px 50px;
}
.overbox .title,
.overbox .button,
.overbox .input {
  z-index: 111;
  position: relative;
  color: #fff !important;
  display: none;
}
.overbox .title {
  width: 80%;
}
.overbox .input {
  margin-top: 20px;
}
.overbox .input input,
.overbox .input label {
  color: #fff;
}
.overbox .material-button,
.overbox .alt-2 {
  display: block;
}
.overbox .material-button .shape,
.overbox .alt-2 .shape {
  display: block;
}

.material-button,
.alt-2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  top: 40px;
  right: -70px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.material-button .shape,
.alt-2 .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.material-button .shape:before,
.alt-2 .shape:before,
.material-button .shape:after,
.alt-2 .shape:after {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before,
.alt-2 .shape:before {
  width: 25px;
  height: 4px;
}

.material-button .shape:after,
.alt-2 .shape:after {
  height: 25px;
  width: 4px;
}

.material-button.active,
.alt-2.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg);
}

.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.login-form {
  height: 600px;
  position: relative;
}

/* login page css end */

/* contact page css start  */

.contact-info-wrap {
  padding: 50px 30px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 5px #f1f1f120;
}

.contact-info-title {
  margin-bottom: 15px;
}

.contact-info-title h3 {
  font-size: 24px;
}

.contact-info-list ul {
  list-style: none;
  margin-bottom: 15px;
}

.contact-info-list ul li {
  margin-bottom: 5px;
}

.contact-form-title {
  margin-bottom: 24px;
}

.contact-form .form-floating {
  margin-bottom: 24px;
}

.contact-form .form-floating input {
  min-height: 65px;
}

.contact-form .form-floating textarea {
  min-height: 150px;
}

/* contact page css end */

/* cart page css start  */

.cart-wrap table {
  border: 1px solid var(--background-color);
  margin-bottom: 0;
}

.cart-wrap th,
.cart-wrap td {
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

#clearAllCart {
  min-height: max-content;
  padding: 12px 20px;
}

.cart-product-img img {
  max-width: 120px;
}

.cart-product-name a {
  color: #071c1f;
}

.cart-product-name a:hover {
  color: var(--primary-color);
}

.clear-single-cart i {
  cursor: pointer;
  font-size: 24px;
  color: #fe9a9a;
}

.clear-single-cart i:hover {
  color: var(--primary-color);
}

/* cart page css end */

/* checkout page css start  */

.checkout-cart-wrap strong {
  font-size: 14px;
}

/* checkout page css end  */

/* blog page css start  */

.blog-sidebar-wrap {
  margin-bottom: 50px;
}

.blog-sidebar-wrap h3 {
  margin-bottom: 24px;
}

.search-btn button {
  padding: 15px 20px;
  min-height: max-content;
}

.recent-post-items {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.recent-post-items .item-img {
  min-width: 80px;
}

.recent-post-items .item-text {
  overflow: hidden;
}

.recent-post-items .item-text h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.recent-post-items .item-text h6 a:hover {
  color: var(--primary-color);
}

.tags-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.tags-list ul li {
  margin: 0 24px 24px 0;
}

.tags-list ul li a {
  display: block;
  padding: 8px 24px 6px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: var(--light-background-color);
  font-weight: 700;
}

.tags-list ul li a:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.newsletter-wrap {
  text-align: center;
}

.newsletter-title {
  margin-bottom: 20px;
}

.newsletter-description {
  margin-bottom: 30px;
}

.news-letter-btn .btn {
  min-height: 58px;
}

.single-blog-img {
  margin-bottom: 24px;
}

.single-blog-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.single-blog-title {
  margin-bottom: 24px;
}

.single-blog-title h1 {
  font-size: 36px;
}

.single-blog-items-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 24px;
}

.single-blog-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;
}

.single-blog-description {
  margin-bottom: 24px;
}

.single-blog-box {
  background: var(--background-color);
  text-align: center;
  padding: 40px;
  margin: 40px 0;
}

.single-blog-tags h3 {
  margin-bottom: 24px;
}

.comment-items {
  display: flex;
  align-items: center;
  column-gap: 24px;
  border-bottom: 1px solid #ddd;
  padding: 24px 0;
}

.comment-items:last-child {
  border-bottom: 0;
}

.comment-items .item-img {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.comment-items .item-title {
  color: var(--primary-color);
  margin-bottom: 5px;
}

.comment-items .item-time {
  font-size: 13px;
  color: var(--new-price-color);
  font-weight: 700;
  margin-bottom: 24px;
}

.comment-items .item-comment {
  font-size: 14px;
}

/* blog page css end */

/* search page css start  */

.search-bar-wrap {
  margin-bottom: 50px;
}

.search-page-text {
  text-align: center;
}

.search-page-text h3 {
  margin-bottom: 40px;
}

.search-page-text p {
  margin-bottom: 12px;
}

.search-bar-wrap .search-btn .btn {
  min-height: 58px;
}

.search-product-item {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 40px;
}

.search-blog-item {
  margin-bottom: 40px;
}

.product-item-img {
  max-width: 150px;
}

.search-item-text .item-title {
  margin-bottom: 16px;
}

.search-item-text .item-title a:hover {
  color: var(--primary-color);
}

.search-item-text .item-description {
  margin-top: 16px;
}

/* search page css end */
